@model List<HumbertoMVC.Models.linhasModel>

@{
    ViewBag.Title = "Detalhes da Linha";
}

<h2>Detalhes da Linha</h2>

<div>
    @if (Model != null)
    {
        <table class="table">
    <thead>
        <tr>
            <th>Código da Linha</th>
            <th>Em Circulação</th>
            <th>Letreiro</th>
            <th>Sentido</th>
            <th>Tipo de Linha</th>
            <th>Terminal Principal</th>
            <th>Terminal Secundário</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var linha in Model)
        {
            <tr>
                <td>@linha.Cl</td>
                <td>@linha.Lc</td>
                <td>@linha.Lt</td>
                <td>@linha.Sl</td>
                <td>@linha.Tl</td>
                <td>@linha.Tp</td>
                <td>@linha.Ts</td>
            </tr>
        }
    </tbody>
</table>
    }
    else
    {
    <p><strong>Test Failed!</strong> Nenhuma informação foi encontrada.</p>
    }
</div>

