@model HumbertoMVC.Models.linhas

@{
    ViewBag.Title = "Detalhes da Linha";
}

<h2>Detalhes da Linha</h2>

<div>
    @if (Model != null)
    {
    <p><strong>Test Passed!</strong></p>
    <ul >
        <li><strong>Código Identificador (cl):</strong> @Model.cl</li>
        <li><strong>É Circular (lc):</strong> @(Model.lc ? "Sim" : "Não")</li>
        <li><strong>Letreiro Numérico Parte 1 (sl):</strong> @Model.sl</li>
        <li><strong>Letreiro Numérico Parte 2 (tl):</strong> @Model.tl</li>
        <li><strong>Sentido de Operação (tp):</strong> @Model.tp</li>
        <li><strong>Letreiro Descritivo (ts):</strong> @Model.ts</li>
    </ul>
    }
    else
    {
    <p><strong>Test Failed!</strong> Nenhuma informação foi encontrada.</p>
    }
</div>

