@model HumbertoMVC.Models.OnibusRotaModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!doctype html>
<html lang="en">
<head>
    <link href="~/css/styleForDisplay.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Bootstrap demo</title>
</head>
<body>
<div class="blueCont d-flex flex-column align-items-center justify-content-start">
    @foreach (var route in Model.Routes)
    {
            @foreach (var leg in route.Legs)
            {

                foreach (var step in leg.Steps)
                {
                    if (step.TransitDetails != null)
                    {

                       
                            <div class="box">
                               <div class="d-flex flex-column justify-content-center ms-3" style="flex-grow: 1;">
                                    <p alt="PONTO DE PARTIDA" class="pontoP mb-1" style="margin-top: 3px; margin-left: -1px;">@step.TransitDetails.StopDetails.DepartureStop.Name</p>
                                <p alt="LINHA" class="linha" style="margin-top: -5px;">@step.TransitDetails.TransitLine.NameShort - @step.TransitDetails.TransitLine.Name</p>
                                <p class="pontoP" style="margin-top: -10px;"> @step.TransitDetails.StopDetails.ArrivalStop.Name</p>
                               </div>
                            <p class="time-text mb-0 me-3 align-self-center" style="margin-top: -30px; margin-left: -10px; text-align: right; font-size: 25px">@step.TransitDetails.LocalizedValues.DepartureTime.Time.Text</p>
                            </div>
                       
                    }
                }
            }
    }
</div>
    

</body>
</html>